<div class="toolbar">
  <button mat-button (click)="selectAll()">Select all</button>
  <button mat-button (click)="deselectAll()">Deselect all</button>
  <button mat-button (click)="recreateData()">Recreate data</button>
</div>
<cdk-virtual-scroll-viewport itemSize="40">
  <div class="row" *cdkVirtualFor="let row of rows(); trackBy: trackBy;">
    <mat-checkbox [checked]="isRowSelected(row)" (change)="selectionModel.toggle(row)">
    </mat-checkbox>
    <span>{{ row.title }}</span>
  </div>
</cdk-virtual-scroll-viewport>